* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	font: 13px 'Segoe UI', 'sans-serif';
	height: 100%;
	overflow-y: hidden;
}

form {
	background: #000;
	padding: 3px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

form input {
	border: 0;
	padding: 10px;
	width: 88%;
	margin-right: .5%;
}

form button {
	width: 11.5%;
	background: lightgreen;
	border: none;
	padding: 10px;
}

#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#messages li {
	padding: 5px 10px;
}

#messages li:nth-child(odd) {
	background: #eee;
}

#banner {
	text-indent: 15px;
	/*font-family: 'Segoe UI', 'sans-serif';*/
	font-size: 32px;
	background-color: #676767;
	color: white;
	font-style: italic;
}

#event {
	color: orange;
	font-size: 12px;
	/*font-weight: bold;*/
	text-indent: 15px;
}

#time {
	float: right;
	font-size: 10px;
}

#date {
	color: #5A86BF;
	text-align: center;
	font-weight: bold;
	opacity: .5;
}

#name {
	float: left;
	padding-right: 20px;
	font-weight: bold;
}

#banner-title {
	display: inline;
	padding-right: 20px
}

#online {
	display: inline-block;
	border: 6px solid #00BF00;
	border-radius: 50px;
	height: 10px;
	position: relative;
	top: 1px;
}

#container {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#chat-window {
	width: 88%;
	height: 100%;
	float: left;
	box-shadow: 2px 0px 5px black;
	overflow-y: scroll;
}

#chat-window::-webkit-scrollbar { 
    display: none; 
}

#user-list {
	background-color: #E8E8E8;
	height: 100%;
	margin-left: 80%;
	text-indent: 10px;
	padding-top: 10px;
	overflow-y: scroll;
}

#user-list::-webkit-scrollbar { 
    display: none; 
}

#users {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#users li {
	border-radius: 5px;
	padding: 5px 10px;
	display: block;
	font-weight: bold;
}